.DS_Store
__pycache__/
*.py[cod]
*.npy
.mne_home/

*.gdf
*.edf
data/BCICIV_2a_gdf/true_labels/
data/moabb/

data/mne_data/

*.tex
!writeup.tex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
