.DS_Store
__pycache__/
*.py[cod]
.mne_home/

*.gdf
*.edf
data/BCICIV_2a_gdf/true_labels/
data/moabb/

analysis_results/
analysis_results_3a/
analysis_results_backup_*/
outputs/
accuracy_plots/
confusion_matrices/
stability_*.png

data/mne_data/

*.tex
!writeup.tex
!writeup_v2.tex
!v3_plan.tex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
