.DS_Store
__pycache__/
*.py[cod]

*.gdf
*.edf
data/BCICIV_2a_gdf/true_labels/

analysis_results/
analysis_results_3a/
analysis_results_backup_*/
outputs/
accuracy_plots/
confusion_matrices/
stability_*.png

data/mne_data/

*.tex
